<article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>{{animal.name}}</h2>
    </div>
    <div class="card-body">
      {{animal.description}}
    </div>
    <img id="critter-pic" src="{{animal.image_url}}"><img>
  </article>