<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest-core.js"></script>
<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest-core.css"/>

<div id="map-container">
<div id="demo"></div>

<div id="map">

{{#each animals}}
<a href="/animalProfile/{{id}}">{{name}}</a>
{{/each}}



</div>
</div>
<script>
    const MAPQUEST_API_KEY = '{{MAPQUEST_API_KEY}}'
</script>
<script src="/js/maps.js"> </script>

{{!-- ex. marker that re-routes to animalProfile based off of the clicked animal's id --}}
