*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  background-color: #6aa84fff;
}

li{
  list-style: none;
  margin: 5px;
}

#body {
  background-color: #FCE5CD;
}

a:link, a:visited{
  color: #ffffff;
  text-decoration: none;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: dodgerblue;
  text-decoration: underline;
}

#map-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#demo {
  order: 0;
  
}

#map {
  width: 850px;
  height: 500px;
}

#welcome-div{
  color:white;
  font-size: 50px;
 text-align: center;
  text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				  1px -1px 0 #000;
}

#description {
  color:#056605;
  font-size: 30px;
  text-align: center;
  padding-bottom: 1em;
}


.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #464506;
    top: 350px;
    height: 200px;
}

.flex-container > div {
    background-color:#056605;
    width: 500px;
    margin: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 2%;
}

#critter-pic{
    height: 200px;
    width: auto;
}

.animal-link {
  color: blue;
  font-weight: bold;
  text-decoration: none;
  height: 50px;
  width: 50px;
}

.animal-link:hover {
  color: red;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 60px; */
}

.nav-branding{
  font-size: 2rem;
}

.nav-link{
  transition: 0.7s ease;
}

.nav-link:hover{
  color: dodgerblue;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media(max-width:768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #6aa84fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .navbar {
    padding: 0 0px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .flex-container {
    display: flex;
  }

  .squares {
    display: flex;
  }

}
